TELNYX_API_KEY=KEY_replace_me
TELNYX_TELEPHONY_CREDENTIAL_ID=00000000-0000-4000-8000-000000000000
TELNYX_CALLER_NUMBER=+13072490829
SOFTPHONE_HANDOFF_SECRET=replace_with_at_least_32_random_characters
